* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    background-image: url(../svg/bgc.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-color: #464646;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px 0px;
}

h1 {
    font-weight: 500;
    font-size: 64px;
    line-height: 77px;
    margin: 300px 0px 64px 0px;
}

.send-input {
    width: 748px;
    height: 50px;
    font-size: 20px;
    border: 1px solid #000000;
    border-radius: 26px;
    padding: 11px 0px 14px 24px;
}

.difficulty-lvl {
    margin-top: 47px;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.plus {
    cursor: pointer;
    border: 0;
    background: none;
    font-weight: 400;
    font-size: 36px;
    color: #FFFFFF;
}

.minus {
    cursor: pointer;
    border: 0;
    background: none;
    font-weight: 400;
    font-size: 36px;
    color: #FFFFFF;
}

.slider {
    margin-top: 20px;
    position: relative;
    width: 574px;
    /* transform: rotate(180deg) */
}

.slider-liner {
    width: 574px;
}

output {
    position: absolute;
    left: -20px;
    top: -18px;
    color: rgba(0, 0, 0, 0);
}

.text-lvl {
    margin-top: 20px;
    display: flex;
}

.hard {
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #ff0000;
}

.medium {
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #FFD600;
    margin-right: 211px;
}

.easy {
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #02FF1B;
    margin-right: 230px;
}

.active {
    border: 2px solid;
    border-radius: 10px;
}

.buttons {
    display: flex;
    margin: 42px 161px 0px 0px
}

.generate_copy {
    margin-right: 50px;
    font-size: 32px;
    width: 200px;
    height: 65px;
    border: 1px solid #000000;
    border-radius: 43px;
}

.generate_copy:hover {
    color: white;
    background-color: rgb(162, 157, 157);
}

.generate_copy:active {
    color: rgb(0, 0, 0);
}

.rest {
    margin: 5px 10px 0px 0px;
    width: 40px;
    height: 40px;
}

.send_and_clear {
    display: flex;
}

.clear {
    margin-left: 10px;
    height: 45px;  
}

@media screen and (max-width: 1200px) {
    .container {
        width: 970px;
    }

}

@media screen and (max-width: 992px) {
    
    .container {
        width: 750px;
    }

    .send_and_clear {
        width: 500px;
    }

    .slider {
        width: 414px;
    }

    .slider-liner {
        width: 400px;
    }

    .easy {
        margin-right: 124px;
    }

    .medium {
        margin-right: 124px;
    }

    .buttons {
        margin: 190px -47px 0px 0px;
    }
}

@media screen and (max-width: 767px) {

    .container {
        width: 340px;
    }

    .slider {
        width: 310px;
        margin-bottom: 50px;
    }

    .slider-liner {
        width: 299px;
    }

    .send_and_clear {
        width: 334px;
        margin-top: 70px;
    }

    h1 {
        font-size: 32px;
        line-height: 44px;
        margin: 21px 17px 114px 0px;
    }

    .easy {
        margin-right: 44px;
    }

    .medium {
        margin-right: 44px;
    }

    .generate_copy {
        font-size: 20px;
        width: 138px;
        height: 41px;
    }

    .send-input {
        width: 215px;
    }

    .buttons {
        margin: 108px -29px 0px 0px;
    }

    .text-lvl {
        margin: 20px 20px 0px 0px;
    }
}
